.problem-card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.problem-card h3 {
    margin: 0;
    font-size: 1.25rem;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.card img {
    max-width: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 1rem;
}